@import './kit/kit'

// Reusable
// ----------------------------------------------------------------------------

a, li, div
  cursor default !important

// Typo
// ----------------------------------------------------------------------------
body, input
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif

h1, h2, h3
  color #aeaeae
  text-shadow 0px 1px 0px #fafafa
  font-weight normal
  margin-bottom 5px

h1
  font-size 17px

h2
  font-size 16px

h3
  font-size 15px
  
  
// Layout
// ----------------------------------------------------------------------------

body, html
  margin: 0;
  padding: 0;
  width: 100%
  height: 100%

body
  vbox()
  background #3f4a5f url(images/background-pattern.png)

header#header
  vbg-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.05))
  box-shadow(0px 1px 5px rgba(0, 0, 0, 0.3))
  height 40px
  
  .inside
    height 100%
    padding-top 10px
    padding-right 10px
    // background url(images/logo.png) no-repeat center 7px
    
    a.back-button
      display block
      width 15px
      height 15px
      left()
      background url(images/button-back.png)
      margin 5px 0px 0px 12px
    
    .title
      font-weight bold
      font-size 12px
      color #fff
      text-shadow 0px 1px 0px rgba(0, 0, 0, 0.5)
      padding-left 10px
      padding-top 5px
      left()
    
    .buttons
      right()

article#content
  box-flex(1)
  vbox()
  
  #top
    // padding 10px 20px 10px 20px
  
  #middle
    hbox()
    box-flex(1)
    
    #main
      box-flex(1)
      vbox()
      overflow auto
      padding-bottom 10px
      padding-top 10px

paper-container()
  background url(images/paper-pattern.png)
  vbox()
  border-radius(4px)
  box-shadow(0px 1px 5px rgba(0, 0, 0, 0.75))

paper-inner()
  box-flex(1)
  background url(images/paper-bottom.png) repeat-x center bottom
  border-radius(4px)

// List
// ----------------------------------------------------------------------------

ul.list
  margin 0px 10px 0px 10px

  li, li:last-child, li:first-child
    background: url(images/paper-row-pattern.png) repeat-x center bottom
    margin-bottom 10px
    border-radius(3px)
    paper-shadow()
    border none
    padding 12px 20px 12px 20px
    
    &.touch, &:active
      color #000
      background url(images/paper-row-pattern.png) repeat-x center bottom
      opacity 0.9
  
  &.tasks
    paper-container()
    
    > .inside
      paper-inner()
      padding-bottom 5px
  
    li
      background url(images/row-background.png) repeat-x center bottom
      margin-bottom 0px
      font-size 13px
      font-weight normal
      padding 0px
      
      &.touch, &:active
        background url(images/row-background.png) repeat-x center bottom
        opacity 0.9
      
      > .inside
        padding 12px 20px 12px 35px
      
      &.needsAction > .inside
        background url(images/task.png) no-repeat 10px 11px

      &.completed
        color #b9bbbf
      
        > .inside
          background url(images/task-done.png) no-repeat 10px 8px
      
      .accessory
        right()
        margin-top 12px
        margin-right 10px
        display block
        width 16px
        height 16px
        text-indent -999px
        background url(images/button-more.png)

// Form
// ----------------------------------------------------------------------------

form
  box-flex(1)
  paper-container()
  margin 10px
  
  .inside
    paper-inner()
    vbox()
    padding 10px
    padding-bottom 15px
  
  .form-row
    margin-bottom 5px
  
  .form-row.textarea
    box-flex(1)
    vbox()
    height 100%
    
  input[type=text], textarea
    border 1px solid #dddddd
    padding 10px
    font-size 12px
    font-weight bold
    background transparent
    border-box()
    width 100%
    inset-box-shadow(0px 1px 5px rgba(0, 0, 0, 0.10))
  
  textarea
    display block
    box-flex(1)
    height 100%
  
  input[type=submit]
    display none
    
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
    color #dedede
    

// Buttons
// ----------------------------------------------------------------------------

a.button
  &.background
    vbg-gradient(rgba(110, 125, 153, 0.3), rgba(67, 76, 93, 0.3))
    border-top 1px solid rgba(0, 0, 0, 0.25)
    border-bottom 1px solid rgba(255, 255, 255, 0.1)
    border-radius(3px)
    padding 5px 5px 5px 5px
    
    color #959eaf
    text-decoration none
    font-size 11px
    font-weight bold
    text-shadow 0px 1px 0px rgba(0, 0, 0, 0.3)
    
    &:active
      vbg-gradient(rgba(67, 76, 93, 0.3), rgba(110, 125, 153, 0.3))