@import './kit/kit'

// Reusable
// ----------------------------------------------------------------------------

paper-shadow()
  box-shadow(0px 1px 5px rgba(0, 0, 0, 0.75))

// Typo
// ----------------------------------------------------------------------------
body, input
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif

h1, h2, h3
  color #aeaeae
  text-shadow 0px 1px 0px #fafafa
  font-weight normal
  margin-bottom 5px

h1
  font-size 17px

h2
  font-size 16px

h3
  font-size 15px
  
  
// Layout
// ----------------------------------------------------------------------------

body, html
  margin: 0;
  padding: 0;
  width: 100%
  height: 100%

body
  vbox()
  background #3f4a5f url(/images/background-pattern.png)

header#header
  vbg-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.05))
  box-shadow(0px 1px 5px rgba(0, 0, 0, 0.3))
  height 40px
  
  .inside
    height 100%
    padding-top 10px
    padding-right 10px
    // background url(/images/logo.png) no-repeat center 7px
    
    .title
      font-weight bold
      font-size 12px
      color #fff
      text-shadow 0px 1px 0px rgba(0, 0, 0, 0.5)
      padding-left 30px
      padding-top 5px
      left()
    
    .buttons
      right()

article#content
  box-flex(1)
  vbox()
  
  #top
    padding 10px 20px 10px 20px
  
  #middle
    hbox()
    box-flex(1)
    
    #main
      box-flex(1)
      vbox()

// List
// ----------------------------------------------------------------------------

ul.list
  margin 0px 10px 0px 10px

  li, li:last-child, li:first-child
    background: url(/images/paper-row-pattern.png) repeat-x center bottom
    margin-bottom 10px
    border-radius(3px)
    paper-shadow()
    border none
    padding 12px 20px 12px 20px
    
    &.touch, &:active
      color #000
      background url(/images/paper-row-pattern.png) repeat-x center bottom
      opacity 0.9

// Form
// ----------------------------------------------------------------------------

form
  box-flex(1)
  vbox()
  background url(/images/paper-pattern.png)
  margin 10px
  border-radius(4px)
  paper-shadow()
  
  .inside
    box-flex(1)
    padding 10px
    background url(/images/paper-bottom.png) repeat-x center bottom
    border-radius(4px)
    
  input[type=text]
    border 1px solid #dddddd
    padding 10px
    font-size 12px
    font-weight bold
    background transparent
    border-box()
    width 100%
    inset-box-shadow(0px 1px 5px rgba(0, 0, 0, 0.10))
  
  input[type=submit]
    display none
    
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
    color #dedede
    

// Buttons
// ----------------------------------------------------------------------------

a.button
  &.background
    vbg-gradient(rgba(110, 125, 153, 0.3), rgba(67, 76, 93, 0.3))
    border-top 1px solid rgba(0, 0, 0, 0.25)
    border-bottom 1px solid rgba(255, 255, 255, 0.1)
    border-radius(3px)
    padding 5px 5px 5px 5px
    
    color #959eaf
    text-decoration none
    font-size 11px
    font-weight bold
    text-shadow 0px 1px 0px rgba(0, 0, 0, 0.3)
    
    &:active
      vbg-gradient(rgba(67, 76, 93, 0.3), rgba(110, 125, 153, 0.3))